@{
    ViewData["Title"] = "Login Page";
}
<h3 class="my-5">Projekat za predmet Projektovanje softverskih zaštitnih mehanizama</h3>

<form>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <button type="button" class="btn btn-primary my-2 d-block">Secure login</button>
    <button type="button" onclick="SqlInjection()" class="btn btn-danger my-2 d-block">Sql Injection</button>
    <button type="button" class="btn btn-danger my-2 d-block">Brute-force</button>
    <button type="button" class="btn btn-success my-2 d-block">Login with camera</button>
</form>


<script>
    function SqlInjection() {
        $.ajax({
            url: "/Login/SqlInjection",
            method: "POST",
            data: JSON.stringify({
                "Username": $("#username").val(),
                "Password": $("#password").val()
            }),
            contentType: "application/json",
            success: (response) => {
                alert("Successful login");
            },
            error: (err) => {
                console.log(err);
                alert("Your username or passowrd is not valid.");
            }
        });
    }
</script>